@HVLayout
scchart VVIPacemaker {
  input signal VSense, LRI_TO, VRP_TO;
  output signal VPace;

  initial state top {
    signal LRI_start, LRI_stop, LRI_ex;
    signal VRP_start, VRP_stop, VRP_ex;

    region LRI:

    initial state init
    --> commit1 with VSense;

    connector state commit1
    --> waitVRP immediate with / LRI_start;

    state waitVRP
    --> waitLRI with VRP_ex;

    state waitLRI "waitLRI"
    --> commit2 with VSense
    --> commit3 with LRI_ex;

    connector state commit2
    --> intState immediate with / LRI_stop; //connector state comit3 --> commit1 immediate with /VPace;
    connector state commit3
    --> intState immediate with / VPace;

    state intState
    --> waitVRP with / LRI_start;

    region LRI_timer:

    initial state idle
    --> timer with LRI_start;

    state timer "timer"
    --> idle with LRI_stop
    --> idle with LRI_TO / LRI_ex;

    region VRP:

    initial state idle
    --> comit1 with VSense
    --> comit1 with VPace;

    connector state comit1
    --> waitVRP immediate with / VRP_start;

    state waitVRP
    --> idle with VRP_ex //--> comit2 with VSense;
    --> waitVRP with VSense; //connector state comit2 --> waitVRP immediate;


    region VRP_timer:

    initial state idle
    --> timer with VRP_start;

    state timer "timer"
    --> idle with VRP_TO / VRP_ex;
  };
}